# Byte-compiled / optimized / Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.pdm-python

# Python environment files
.env
.pdm.toml
.pypirc
.python-version

# Build artifacts
*.zip
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Coverage and testing
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.tox/
.nox/

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Jupyter
.ipynb_checkpoints

# Django / Flask / FastAPI
*.log
instance/
.webassets-cache
local_settings.py
db.sqlite3
db.sqlite3-journal

# Docs
docs/_build/
site/

# Sphinx / MkDocs
.pybuilder/
target/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# IDEs
.idea/
.vscode/

# Others
cython_debug/
.ropeproject
.spyproject
